In [20]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import random
import matplotlib.pyplot as plt
from matplotlib.dates import DateFormatter

In [21]:
link_github = "https://github.com/NguyenTrieu903/Sales_Product_Data_Analysis"
Sales_January = pd.read_csv("https://raw.githubusercontent.com/NguyenTrieu903/Sales_Product_Data_Analysis/main/input/Sales_January_2019.csv")
Sales_February = pd.read_csv("https://raw.githubusercontent.com/NguyenTrieu903/Sales_Product_Data_Analysis/main/input/Sales_February_2019.csv")
Sales_March = pd.read_csv("https://raw.githubusercontent.com/NguyenTrieu903/Sales_Product_Data_Analysis/main/input/Sales_March_2019.csv")
Sales_April = pd.read_csv("https://raw.githubusercontent.com/NguyenTrieu903/Sales_Product_Data_Analysis/main/input/Sales_April_2019.csv")
Sales_May = pd.read_csv("https://raw.githubusercontent.com/NguyenTrieu903/Sales_Product_Data_Analysis/main/input/Sales_May_2019.csv")
Sales_June = pd.read_csv("https://raw.githubusercontent.com/NguyenTrieu903/Sales_Product_Data_Analysis/main/input/Sales_June_2019.csv")
Sales_July = pd.read_csv("https://raw.githubusercontent.com/NguyenTrieu903/Sales_Product_Data_Analysis/main/input/Sales_July_2019.csv")
Sales_August = pd.read_csv("https://raw.githubusercontent.com/NguyenTrieu903/Sales_Product_Data_Analysis/main/input/Sales_August_2019.csv")
Sales_September = pd.read_csv("https://raw.githubusercontent.com/NguyenTrieu903/Sales_Product_Data_Analysis/main/input/Sales_September_2019.csv")
Sales_October = pd.read_csv("https://raw.githubusercontent.com/NguyenTrieu903/Sales_Product_Data_Analysis/main/input/Sales_October_2019.csv")
Sales_November = pd.read_csv("https://raw.githubusercontent.com/NguyenTrieu903/Sales_Product_Data_Analysis/main/input/Sales_November_2019.csv")
Sales_December = pd.read_csv("https://raw.githubusercontent.com/NguyenTrieu903/Sales_Product_Data_Analysis/main/input/Sales_December_2019.csv")

In [22]:
list_Sales_Year_2019 = [Sales_January, Sales_February, Sales_March, Sales_April, Sales_May, Sales_June, Sales_July, Sales_August, Sales_September, Sales_October, Sales_November, Sales_December]

In [23]:
print(list_Sales_Year_2019)

[     Order ID                   Product Quantity Ordered Price Each  \
0      141234                    iPhone                1        700
1      141235  Lightning Charging Cable                1      14.95
2      141236          Wired Headphones                2      11.99
3      141237          27in FHD Monitor                1     149.99
4      141238          Wired Headphones                1      11.99
...       ...                       ...              ...        ...
9718   150497              20in Monitor                1     109.99
9719   150498          27in FHD Monitor                1     149.99
9720   150499           ThinkPad Laptop                1     999.99
9721   150500    AAA Batteries (4-pack)                2       2.99
9722   150501              Google Phone                1        600

          Order Date                       Purchase Address
0     01/22/19 21:25        944 Walnut St, Boston, MA 02215
1     01/28/19 14:15       185 Maple St, Portland, OR 97035
2     01/17/19 13:33  538 Adams St, San Francisco, CA 94016
3     01/05/19 20:33     738 10th St, Los Angeles, CA 90001
4     01/25/19 11:59          387 10th St, Austin, TX 73301
...              ...                                    ...
9718  01/26/19 19:09            95 8th St, Dallas, TX 75001
9719  01/10/19 22:58    403 7th St, San Francisco, CA 94016
9720  01/21/19 14:31        214 Main St, Portland, OR 97035
9721  01/15/19 14:21      810 2nd St, Los Angeles, CA 90001
9722  01/13/19 16:43         428 Cedar St, Boston, MA 02215

[9723 rows x 6 columns],       Order ID                   Product Quantity Ordered Price Each  \
0       150502                    iPhone                1        700
1       150503     AA Batteries (4-pack)                1       3.84
2       150504    27in 4K Gaming Monitor                1     389.99
3       150505  Lightning Charging Cable                1      14.95
4       150506     AA Batteries (4-pack)                2       3.84
...        ...                       ...              ...        ...
12031   162004  Apple Airpods Headphones                1        150
12032   162005    AAA Batteries (4-pack)                2       2.99
12033   162006      USB-C Charging Cable                1      11.95
12034   162007      USB-C Charging Cable                1      11.95
12035   162008          27in FHD Monitor                1     149.99

           Order Date                         Purchase Address
0      02/18/19 01:35        866 Spruce St, Portland, ME 04101
1      02/13/19 07:24      18 13th St, San Francisco, CA 94016
2      02/18/19 09:46       52 6th St, New York City, NY 10001
3      02/02/19 16:47         129 Cherry St, Atlanta, GA 30301
4      02/28/19 20:32        548 Lincoln St, Seattle, WA 98101
...               ...                                      ...
12031  02/12/19 22:02   227 Church St, San Francisco, CA 94016
12032  02/04/19 20:44  417 Jefferson St, Los Angeles, CA 90001
12033  02/24/19 06:31            498 8th St, Atlanta, GA 30301
12034  02/24/19 19:09             715 7th St, Dallas, TX 75001
12035  02/26/19 17:15       677 West St, Los Angeles, CA 90001

[12036 rows x 6 columns],       Order ID                     Product Quantity Ordered Price Each  \
0       162009                      iPhone                1        700
1       162009    Lightning Charging Cable                1      14.95
2       162009            Wired Headphones                2      11.99
3       162010  Bose SoundSport Headphones                1      99.99
4       162011      34in Ultrawide Monitor                1     379.99
...        ...                         ...              ...        ...
15221   176554    Lightning Charging Cable                1      14.95
15222   176555            27in FHD Monitor                1     149.99
15223   176556      AAA Batteries (4-pack)                3       2.99
15224   176557                      iPhone                1        700
15225   176557    Lightning Charging Cable                1      14.95

           Order Date                           Purchase Address
0      03/28/19 20:59            942 Church St, Austin, TX 73301
1      03/28/19 20:59            942 Church St, Austin, TX 73301
2      03/28/19 20:59            942 Church St, Austin, TX 73301
3      03/17/19 05:39       261 10th St, San Francisco, CA 94016
4      03/10/19 00:01       764 13th St, San Francisco, CA 94016
...               ...                                        ...
15221  03/24/19 11:14       672 12th St, San Francisco, CA 94016
15222  03/22/19 20:27         42 4th St, San Francisco, CA 94016
15223  03/14/19 10:29          871 7th St, Los Angeles, CA 90001
15224  03/30/19 12:32  83 Washington St, San Francisco, CA 94016
15225  03/30/19 12:32  83 Washington St, San Francisco, CA 94016

[15226 rows x 6 columns],       Order ID                     Product Quantity Ordered Price Each  \
0       176558        USB-C Charging Cable                2      11.95
1       176559  Bose SoundSport Headphones                1      99.99
2       176560                Google Phone                1        600
3       176560            Wired Headphones                1      11.99
4       176561            Wired Headphones                1      11.99
...        ...                         ...              ...        ...
18377   194090                Google Phone                1        600
18378   194091       AA Batteries (4-pack)                1       3.84
18379   194092      AAA Batteries (4-pack)                2       2.99
18380   194093       AA Batteries (4-pack)                1       3.84
18381   194094    Lightning Charging Cable                1      14.95

            Order Date                        Purchase Address
0       4/19/2019 8:46            917 1st St, Dallas, TX 75001
1       4/7/2019 22:30       682 Chestnut St, Boston, MA 02215
2      4/12/2019 14:38    669 Spruce St, Los Angeles, CA 90001
3      4/12/2019 14:38    669 Spruce St, Los Angeles, CA 90001
4       4/30/2019 9:27       333 8th St, Los Angeles, CA 90001
...                ...                                     ...
18377   4/8/2019 17:11   177 Jackson St, Los Angeles, CA 90001
18378  4/15/2019 16:02         311 Forest St, Austin, TX 73301
18379  4/28/2019 14:36  347 Sunset St, San Francisco, CA 94016
18380  4/14/2019 15:09         835 Lake St, Portland, OR 97035
18381  4/18/2019 11:08          354 North St, Boston, MA 02215

[18382 rows x 6 columns],       Order ID                     Product Quantity Ordered Price Each  \
0       194095            Wired Headphones                1      11.99
1       194096       AA Batteries (4-pack)                1       3.84
2       194097            27in FHD Monitor                1     149.99
3       194098            Wired Headphones                1      11.99
4       194099      AAA Batteries (4-pack)                2       2.99
...        ...                         ...              ...        ...
16630   209916  Bose SoundSport Headphones                1      99.99
16631   209917            Wired Headphones                1      11.99
16632   209918      AAA Batteries (4-pack)                2       2.99
16633   209919        USB-C Charging Cable                1      11.95
16634   209920             ThinkPad Laptop                1     999.99

           Order Date                         Purchase Address
0      05/16/19 17:14      669 2nd St, New York City, NY 10001
1      05/19/19 14:43          844 Walnut St, Dallas, TX 75001
2      05/24/19 11:36  164 Madison St, New York City, NY 10001
3      05/02/19 20:40          622 Meadow St, Dallas, TX 75001
4      05/11/19 22:55          17 Church St, Seattle, WA 98101
...               ...                                      ...
16630  05/08/19 19:15         235 Center St, Seattle, WA 98101
16631  05/24/19 22:02      926 9th St, San Francisco, CA 94016
16632  05/24/19 17:44         868 Hickory St, Boston, MA 02215
16633  05/04/19 12:46          204 Adams St, Seattle, WA 98101
16634  05/18/19 23:07             43 5th St, Atlanta, GA 30301

[16635 rows x 6 columns],       Order ID                     Product Quantity Ordered Price Each  \
0       209921        USB-C Charging Cable                1      11.95
1       209922          Macbook Pro Laptop                1     1700.0
2       209923             ThinkPad Laptop                1     999.99
3       209924            27in FHD Monitor                1     149.99
4       209925  Bose SoundSport Headphones                1      99.99
...        ...                         ...              ...        ...
13617   222905      AAA Batteries (4-pack)                1       2.99
13618   222906            27in FHD Monitor                1     149.99
13619   222907        USB-C Charging Cable                1      11.95
13620   222908        USB-C Charging Cable                1      11.95
13621   222909      AAA Batteries (4-pack)                1       2.99

           Order Date                       Purchase Address
0      06/23/19 19:34      950 Walnut St, Portland, ME 04101
1      06/30/19 10:05     80 4th St, San Francisco, CA 94016
2      06/24/19 20:18  402 Jackson St, Los Angeles, CA 90001
3      06/05/19 10:21         560 10th St, Seattle, WA 98101
4      06/25/19 18:58    545 2nd St, San Francisco, CA 94016
...               ...                                    ...
13617  06/07/19 19:02          795 Pine St, Boston, MA 02215
13618  06/01/19 19:29  495 North St, New York City, NY 10001
13619  06/22/19 18:57  319 Ridge St, San Francisco, CA 94016
13620  06/26/19 18:35   916 Main St, San Francisco, CA 94016
13621  06/25/19 14:33         209 11th St, Atlanta, GA 30301

[13622 rows x 6 columns],       Order ID                   Product Quantity Ordered Price Each  \
0       222910  Apple Airpods Headphones                1        150
1       222911             Flatscreen TV                1        300
2       222912     AA Batteries (4-pack)                1       3.84
3       222913     AA Batteries (4-pack)                1       3.84
4       222914    AAA Batteries (4-pack)                5       2.99
...        ...                       ...              ...        ...
14366   236665          Wired Headphones                1      11.99
14367   236666              20in Monitor                1     109.99
14368   236667    AAA Batteries (4-pack)                1       2.99
14369   236668          Wired Headphones                1      11.99
14370   236669    AAA Batteries (4-pack)                1       2.99

           Order Date                      Purchase Address
0      07/26/19 16:51       389 South St, Atlanta, GA 30301
1      07/05/19 08:55         590 4th St, Seattle, WA 98101
2      07/29/19 12:41        861 Hill St, Atlanta, GA 30301
3      07/28/19 10:15       190 Ridge St, Atlanta, GA 30301
4      07/31/19 02:13      824 Forest St, Seattle, WA 98101
...               ...                                   ...
14366  07/20/19 16:16      694 Meadow St, Atlanta, GA 30301
14367  07/31/19 20:11  866 14th St, San Francisco, CA 94016
14368  07/17/19 22:29       249 Cherry St, Dallas, TX 75001
14369  07/30/19 19:28       727 Wilson St, Austin, TX 73301
14370  07/10/19 01:50   743 9th St, New York City, NY 10001

[14371 rows x 6 columns],       Order ID                     Product Quantity Ordered Price Each  \
0       236670            Wired Headphones                2      11.99
1       236671  Bose SoundSport Headphones                1      99.99
2       236672                      iPhone                1      700.0
3       236673       AA Batteries (4-pack)                2       3.84
4       236674       AA Batteries (4-pack)                2       3.84
...        ...                         ...              ...        ...
12006   248146  Bose SoundSport Headphones                1      99.99
12007   248147      AAA Batteries (4-pack)                3       2.99
12008   248148       AA Batteries (4-pack)                1       3.84
12009   248149        USB-C Charging Cable                1      11.95
12010   248150       AA Batteries (4-pack)                1       3.84

           Order Date                         Purchase Address
0      08/31/19 22:21         359 Spruce St, Seattle, WA 98101
1      08/15/19 15:11           492 Ridge St, Dallas, TX 75001
2      08/06/19 14:40           149 7th St, Portland, OR 97035
3      08/29/19 20:59        631 2nd St, Los Angeles, CA 90001
4      08/15/19 19:53     736 14th St, New York City, NY 10001
...               ...                                      ...
12006  08/29/19 22:19  868 Hickory St, San Francisco, CA 94016
12007  08/31/19 16:26        206 Lakeview St, Boston, MA 02215
12008  08/02/19 07:25           568 13th St, Seattle, WA 98101
12009  08/08/19 12:10   495 Walnut St, San Francisco, CA 94016
12010  08/16/19 08:13       738 Park St, Los Angeles, CA 90001

[12011 rows x 6 columns],       Order ID                 Product Quantity Ordered Price Each  \
0       248151   AA Batteries (4-pack)                4       3.84
1       248152    USB-C Charging Cable                2      11.95
2       248153    USB-C Charging Cable                1      11.95
3       248154        27in FHD Monitor                1     149.99
4       248155    USB-C Charging Cable                1      11.95
...        ...                     ...              ...        ...
11681   259353  AAA Batteries (4-pack)                3       2.99
11682   259354                  iPhone                1        700
11683   259355                  iPhone                1        700
11684   259356  34in Ultrawide Monitor                1     379.99
11685   259357    USB-C Charging Cable                1      11.95

           Order Date                         Purchase Address
0      09/17/19 14:44      380 North St, Los Angeles, CA 90001
1      09/29/19 10:19             511 8th St, Austin, TX 73301
2      09/16/19 17:48    151 Johnson St, Los Angeles, CA 90001
3      09/27/19 07:52        355 Hickory St, Seattle, WA 98101
4      09/01/19 19:03            125 5th St, Atlanta, GA 30301
...               ...                                      ...
11681  09/17/19 20:56   840 Highland St, Los Angeles, CA 90001
11682  09/01/19 16:00  216 Dogwood St, San Francisco, CA 94016
11683  09/23/19 07:39     220 12th St, San Francisco, CA 94016
11684  09/19/19 17:30   511 Forest St, San Francisco, CA 94016
11685  09/30/19 00:18   250 Meadow St, San Francisco, CA 94016

[11686 rows x 6 columns],       Order ID                 Product Quantity Ordered Price Each  \
0       259358  34in Ultrawide Monitor                1     379.99
1       259359  27in 4K Gaming Monitor                1     389.99
2       259360  AAA Batteries (4-pack)                2       2.99
3       259361        27in FHD Monitor                1     149.99
4       259362        Wired Headphones                1      11.99
...        ...                     ...              ...        ...
20374   278792   AA Batteries (4-pack)                1       3.84
20375   278793        Wired Headphones                1      11.99
20376   278794   AA Batteries (4-pack)                1       3.84
20377   278795                  iPhone                1        700
20378   278796        Wired Headphones                1      11.99

           Order Date                           Purchase Address
0      10/28/19 10:56            609 Cherry St, Dallas, TX 75001
1      10/28/19 17:26          225 5th St, Los Angeles, CA 90001
2      10/24/19 17:20       967 12th St, New York City, NY 10001
3      10/14/19 22:26  628 Jefferson St, New York City, NY 10001
4      10/07/19 16:10         534 14th St, Los Angeles, CA 90001
...               ...                                        ...
20374  10/12/19 04:32      920 Adams St, San Francisco, CA 94016
20375  10/28/19 22:00     161 Chestnut St, Los Angeles, CA 90001
20376  10/09/19 20:58     346 Spruce St, San Francisco, CA 94016
20377  10/31/19 17:21             291 Hill St, Seattle, WA 98101
20378  10/13/19 11:20    547 Jefferson St, Los Angeles, CA 90001

[20379 rows x 6 columns],       Order ID                     Product Quantity Ordered Price Each  \
0       278797            Wired Headphones                1      11.99
1       278798        USB-C Charging Cable                2      11.95
2       278799    Apple Airpods Headphones                1      150.0
3       278800            27in FHD Monitor                1     149.99
4       278801  Bose SoundSport Headphones                1      99.99
...        ...                         ...              ...        ...
17656   295660      AAA Batteries (4-pack)                2       2.99
17657   295661        USB-C Charging Cable                1      11.95
17658   295662    Lightning Charging Cable                1      14.95
17659   295663      AAA Batteries (4-pack)                1       2.99
17660   295664                Google Phone                1        600

           Order Date                      Purchase Address
0      11/21/19 09:54   46 Park St, New York City, NY 10001
1      11/17/19 10:03      962 Hickory St, Austin, TX 73301
2      11/19/19 14:56  464 Cherry St, Los Angeles, CA 90001
3      11/25/19 22:24        649 10th St, Seattle, WA 98101
4      11/09/19 13:56         522 Hill St, Boston, MA 02215
...               ...                                   ...
17656  11/04/19 14:17     574 4th St, Los Angeles, CA 90001
17657  11/23/19 07:22          359 1st St, Austin, TX 73301
17658  11/13/19 16:12         900 10th St, Boston, MA 02215
17659  11/17/19 17:08       592 Sunset St, Boston, MA 02215
17660  11/17/19 16:13      428 Jackson St, Boston, MA 02215

[17661 rows x 6 columns],       Order ID                     Product Quantity Ordered Price Each  \
0       295665          Macbook Pro Laptop                1       1700
1       295666          LG Washing Machine                1      600.0
2       295667        USB-C Charging Cable                1      11.95
3       295668            27in FHD Monitor                1     149.99
4       295669        USB-C Charging Cable                1      11.95
...        ...                         ...              ...        ...
25112   319666    Lightning Charging Cable                1      14.95
25113   319667       AA Batteries (4-pack)                2       3.84
25114   319668             Vareebadd Phone                1        400
25115   319669            Wired Headphones                1      11.99
25116   319670  Bose SoundSport Headphones                1      99.99

           Order Date                        Purchase Address
0      12/30/19 00:01  136 Church St, New York City, NY 10001
1      12/29/19 07:03     562 2nd St, New York City, NY 10001
2      12/12/19 18:21    277 Main St, New York City, NY 10001
3      12/22/19 15:13     410 6th St, San Francisco, CA 94016
4      12/18/19 12:38           43 Hill St, Atlanta, GA 30301
...               ...                                     ...
25112  12/11/19 20:58  14 Madison St, San Francisco, CA 94016
25113  12/01/19 12:01    549 Willow St, Los Angeles, CA 90001
25114  12/09/19 06:43        273 Wilson St, Seattle, WA 98101
25115  12/03/19 10:39          778 River St, Dallas, TX 75001
25116  12/21/19 21:45  747 Chestnut St, Los Angeles, CA 90001

[25117 rows x 6 columns]]

In [24]:
total_sales_2019 = pd.DataFrame()
for sales_month in list_Sales_Year_2019:
    total_sales_2019 = pd.concat([total_sales_2019, sales_month])

total_sales_2019.shape

(186849, 6)

In [25]:
total_sales_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186849 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 10.0+ MB

In [26]:
total_sales_2019.isnull().sum()

Order ID            544
Product             544
Quantity Ordered    544
Price Each          544
Order Date          544
Purchase Address    544
dtype: int64

In [27]:
total_sales_2019 = total_sales_2019.dropna()
total_sales_2019.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [28]:
total_sales_2019.shape

(186305, 6)

In [29]:
total_sales_2019['Quantity Ordered'].unique()

array(['1', '2', '3', '5', '4', '7', 'Quantity Ordered', '6', '9', '8'],
      dtype=object)

In [30]:
filter = total_sales_2019['Quantity Ordered'] == 'Quantity Ordered'
total_sales_2019 = total_sales_2019[~filter]

total_sales_2019['Quantity Ordered'].unique()

array(['1', '2', '3', '5', '4', '7', '6', '9', '8'], dtype=object)

In [31]:
total_sales_2019.shape

(185950, 6)

In [32]:
total_sales_2019['Quantity Ordered'] = total_sales_2019['Quantity Ordered'].astype(int)
total_sales_2019['Price Each'] = total_sales_2019['Price Each'].astype(float)
total_sales_2019['Order Date'] = pd.to_datetime(total_sales_2019['Order Date'])

In [33]:
def state(x):
    state = x.split(',')[2]
    return state.split(' ')[1]
total_sales_2019['State'] = total_sales_2019['Purchase Address'].apply(state)
total_sales_2019['Sales'] = total_sales_2019['Quantity Ordered'] * total_sales_2019['Price Each'] 
total_sales_2019.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,State,Sales
0,141234,iPhone,1,700.00,2019-01-22 21:25:00,"944 Walnut St, Boston, MA 02215",MA,700.00
1,141235,Lightning Charging Cable,1,14.95,2019-01-28 14:15:00,"185 Maple St, Portland, OR 97035",OR,14.95
2,141236,Wired Headphones,2,11.99,2019-01-17 13:33:00,"538 Adams St, San Francisco, CA 94016",CA,23.98
3,141237,27in FHD Monitor,1,149.99,2019-01-05 20:33:00,"738 10th St, Los Angeles, CA 90001",CA,149.99
4,141238,Wired Headphones,1,11.99,2019-01-25 11:59:00,"387 10th St, Austin, TX 73301",TX,11.99

In [34]:
total_sales_2019['Month'] = total_sales_2019['Order Date'].dt.month
Sales_Month = total_sales_2019.groupby('Month')['Sales'].sum()
Sales_Month = Sales_Month.to_frame()
Sales_Month[3:6]

            Sales
Month
4      3390670.24
5      3152606.75
6      2577802.26

In [35]:
path='D:\\SV3_2\\Visual data interaction'
csv_data = total_sales_2019.to_csv(path+'total_sales_2019.csv')

In [38]:
path='D:\\SV3_2\\Visual data interaction'
csv_data = Sales_Month.to_csv(path+'Sales_Month.csv')